/*language*/
@font-face {
    font-family: 'Karma';
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/karma/v16/va9I4kzAzMZRGLBpQeNHkQ.woff2) format('woff2');
    unicode-range: U+0900-097F, U+1CD0-1CF9, U+200C-200D, U+20A8, U+20B9, U+25CC, U+A830-A839, U+A8E0-A8FF;
}
/* latin-ext */
@font-face {
    font-family: 'Karma';
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/karma/v16/va9I4kzAzMZRGLBmQeNHkQ.woff2) format('woff2');
    unicode-range: U+0100-02AF, U+0300-0301, U+0303-0304, U+0308-0309, U+0323, U+0329, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
    font-family: 'Karma';
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/karma/v16/va9I4kzAzMZRGLBoQeM.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0300-0301, U+0303-0304, U+0308-0309, U+0323, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Karma',sans-serif;
}

.box-shadow{
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
}

/*home.css*/

.centerimages{
    width:150px;
    height:150px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}
.imageunder{
    max-width:100%;
    height:auto
}

h1,h2,h3,h4,h5,h6{
    font-family:"Segoe UI",Arial,sans-serif;
    font-weight:400;
    margin:10px 0
}
hr{
    border:0;
    border-top:1px solid #eee;
    margin:20px 0
}
html{
    overflow-x:hidden
}
h1{
    font-size:36px
}
h2{
    font-size:30px
}
h3{
    font-size:24px
}
h4{
    font-size:20px
}
h5{
    font-size:18px
}
h6{
    font-size:16px
}

.row-padding,.row-padding>.quarter{
    padding:0 8px
}
.container:after,.container:before,.row-padding:after,.row-padding:before,.bar:before,.bar:after{
    content:"";
    display:table;
    clear:both
}

.height36{
    height:36px
}

.max-heigth52{
    max-height: 52px
}
.dimentioncontent{
    max-width:1200px;
    margin-top:100px;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
}

.dimentioncontent h1 {
    font-size: 32px;
    margin-top: 0px;
    margin-bottom: 0px;
    border-bottom: 2px solid #ccc;
    padding: 20px 0;
}
.container{
    padding:0.01em 16px
}
.quarter{
    float:left;
    width:100%;
    transition: .4s ease;
    cursor: pointer;
}

.quarter:hover{
    opacity: 0.8;
    background-color: #d0ddf7;
    transition: .4s ease;
}

@media (min-width:601px){
    .quarter{
        width:24.99999%
    }
}

@media (max-width:992px){
    .main{
        margin-left:0!important;
        margin-right:0!important
    }
}

.main,#main{
    transition:margin-left .4s
}
.content{
    margin-left:auto;
    margin-right:auto
}
.content{
    max-width:980px
}

.display-none{
    display:none;
}
.open-faq{
    cursor: pointer;
}
.marging-16-top-bot{
        margin: 16px 0px 16px 0px
}

.margin-bottom-16{
    margin-bottom: 16px
}

.margin-top-10{
    margin-top: 10px
}

.margin-top-16{
    margin-top: 16px
}
.margin-top-32{
    margin-top: 32px
}

.margin-top-62{
    margin-top: 62px
}
.padding{
    padding:8px 16px!important
}
.padding-16{
    padding-top:16px!important;
    padding-bottom:16px!important
}
.padding-24{
    padding-top:24px!important;
    padding-bottom:24px!important
}
.padding-32{
    padding-top:32px!important;
    padding-bottom:32px!important
}
.padding-48{
    padding-top:48px!important;
    padding-bottom:48px!important
}
.padding-64{
    padding-top:64px!important;
    padding-bottom:64px!important
}
.padding-top-64{
    padding-top:64px!important
}
.padding-top-48{
    padding-top:48px!important
}
.padding-top-32{
    padding-top:32px!important
}
.padding-top-24{
    padding-top:24px!important
}
.padding-top-16{
    padding-top:16px!important
}

.padding-bottom-64{
    padding-bottom:64px!important
}
.padding-bottom-48{
    padding-bottom:48px!important
}
.padding-bottom-32{
    padding-bottom:32px!important
}
.padding-bottom-24{
    padding-bottom:24px!important
}
.padding-bottom-16{
    padding-bottom:16px!important
}
footer,header,main,nav{
    display:block
}

.listnone{
    list-style-type:none
}

.searchbar
{
    border: 3px solid #9BA4B5;
    border-radius: 4px;
    width: 270px;
    background-color: #F1F6F9;
    max-width:100%;
}

.top,.bottom{
    position:fixed;
    width:100%;
    z-index:1
}
.top{
    top:0;
    background-color: #394867;
}

.white,.hover-white:hover{
    color:#F1F6F9!important
}

.xlarge{
    font-size:24px!important
}

.bar{
    width:100%;
    overflow:hidden
}
.center .bar{
    display:inline-block;
    width:auto
}
.center{
    text-align:center!important
}
/*i bar-item dentro bar prendono ste caratteristiche*/
.bar .bar-item{
    padding:8px 16px;
    float:left;
    width:auto;
    border:none;
    display:block;
    outline:0;
    cursor: pointer;
}

.bar .button{
    white-space:normal
}

.left{
    float:left!important
}

.right{
    float:right!important
}
button,input{
    font:inherit;
    margin:0
}

button,input{
    overflow:visible
}
button{
    text-transform:none
}

.bar .button{
    white-space:normal
}

.search-lens:hover{
    background-color: transparent!important;
}

.search-lens{
    background-color: transparent;
}
.button:hover{
    color:#212A3E;
    !important
    background-color:#F1F6F9
}
.black,.hover-black:hover{
    color:#F1F6F9!important;
    background-color:#394867!important
}

.width100{
    width:100%;
}

.height100{
    height:100%;
}

.inline-block{
    display:inline-block;
}
.vectorlogo{
    height:52px;
    width:52px;
    padding:3px 3px
}
.topmenu{
    max-width:1200px;
    max-height:100px;
    margin:auto;
}

/*FAQ.css*/

.faq-section {
    border: 3px solid #394867;
    border-radius: 5px;
    min-height: 100vh;
    padding: 8vh 0 0;
}
.faq-title h2 {
    position: relative;
    margin-bottom: 45px;
    display: inline-block;
    font-weight: 400;
    text-decoration: underline;
    text-decoration-color: #394867;
}

.page_title{
    color: #394867;
    margin-bottom: 45px;

}

.faq-title p {
    padding: 0 190px;
    margin-bottom: 10px;
}

.faq {
    background: #F1F6F9;
    box-shadow: 0 2px 48px 0 rgba(0, 0, 0, 0.06);
    border-radius: 4px;
}

.faq .card {
    border: none;
    background: none;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
    margin-top: 10px;
    margin-bottom: 10px

}

.faq .card .card-header {
    padding: 0px;
    border: none;
    background: none;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
}

.faq .card .card-header:hover {
    background: #ccd7ed;
    padding-left: 10px;
}
.faq .card .card-header .faq-title {
    width: 100%;
    text-align: left;
    padding: 0px;
    padding-left: 30px;
    padding-right: 30px;
    font-weight: 400;
    font-size: 15px;
    letter-spacing: 1px;
    color: #3B566E;
    text-decoration: none !important;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    cursor: pointer;
    padding-top: 20px;
    padding-bottom: 20px;
}

.faq .card .card-header .faq-title .badge {
    display: inline-block;
    width: 20px;
    height: 20px;
    line-height: 14px;
    float: left;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    border-radius: 100px;
    text-align: center;
    background: #212A3E;
    color: #fff;
    font-size: 12px;
    margin-right: 20px;
}

.faq .card .card-body {
    padding: 30px;
    padding-left: 35px;
    padding-bottom: 16px;
    font-weight: 400;
    font-size: 16px;
    color: #394867;
    line-height: 28px;
    letter-spacing: 1px;
    border-top: 1px solid #F3F8FF;

}

.faq .card .card-body p {
    margin-bottom: 14px;
}

@media (max-width: 991px) {
    .faq {
        margin-bottom: 30px;
    }
    .faq .card .card-header .faq-title {
        line-height: 26px;
        margin-top: 10px;
    }
}

/*chi_siamo.css*/

.container_chi_siamo {
    display: grid;
    grid-template-columns: 1fr 2fr; /* crea una griglia con due colonne */
    justify-content: center;
    align-items: center;

}

.description {
    display: flex;
    justify-content: center;
    /* margin-top: 50px;
     margin-right: 50px;*/
    /* stile per il testo nella parte destra della griglia */
}

/*coupon.css*/
.coupon-page {
    border: 5px dotted #bbb; /* Dotted border */
    width: 80%;
    border-radius: 15px; /* Rounded border */
    margin: 0 auto; /* Center the coupon */
    max-width: 500px;
}

.modalita{
    padding: 2px 16px;
    background-color: #f1f1f1;
}

.container-coupon {
    padding: 2px 16px;
    background-color: #f1f1f1;
}


.utente {
    padding: 2px 16px;
    background-color: white;
}

.promo {
    background: #ccc;
    padding: 3px;
}

.expire {
    color: red;
}
/*dettaglio_offerta.css*/
.container_dettaglio_offerta {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 20px;
    padding: 20px;
}/*$*/

.display-flex{
    display: flex;

}

.image-about-us {
    display: flex;
    justify-content: center;
    align-items: center;
}

.image-dimension{
    width:200px;
    height:200px;
}

.image {
    flex: 1;
    float: left;
    margin-right: 180px; /* aggiunge un margine destro per separare l'immagine dal testo */
    margin-left: 50px;
    margin-top: 100px;
}

.image img {
    max-width: 100%;
    height: auto;
}

.info {
    flex: 2;
    margin-top: 110px;
    margin-right: 50px;


}

.info h2 {
    font-size: 40px;
    font-weight: bold;
    margin-top: 0;
}

.info p {
    font-size: 16px;
    margin-top: 0;
}

.info .price {
    font-size: 16px;
    font-weight: normal;
    margin-top: 5px;
}

.info button {

    border-radius: 12px;
    margin-top: 30px;
    width: 100%;
    border: none;
    padding: 18px;
    font-family: 'Rubik', sans-serif;
    cursor: pointer;
    text-transform: uppercase;
    background: #e8e9ec;
    color: #C0C0C0;
    letter-spacing: 0.2px;

}

/*footer.css*/
/**{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}*/
bodyF{
    background: #fcfcfc;
    font-family: sans-serif;
    margin-top: 100px;
}
footerF{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: #111;
    height: auto;
    width: 100vw;

    padding-top: 40px;
    color: #fff;
}
.footer-content{
    margin-top: 62px;
    background: #394867;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}
.footer-content h3{
    font-size: 2.1rem;
    color: #fcfcfc;
    font-weight: 500;
    text-transform: capitalize;
    line-height: 3rem;
}
.footer-content p{
    max-width: 500px;
    margin: 10px auto;
    line-height: 28px;
    font-size: 14px;
    color: #cacdd2;
}

.footer-content ul {
    list-style: none;
}

.footer-content ul li {
    display: flex;
    align-items: flex-start;
    line-height: 3.3em; /* Imposta l'altezza della riga uguale all'altezza del carattere del puntino */
}

.footer-content ul li::before {
    content: "\2022";
    color: #fcfcfc;
    font-weight: bold;
    margin-right: 0.5em;
}

.socials{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0 3rem 0;
}
.socials li{
    margin: 0 10px;
}
.socials a{
    text-decoration: none;
    color: #fff;
    border: 1.1px solid white;
    padding: 5px;

    border-radius: 50%;

}
.socials a i{
    font-size: 1.1rem;
    width: 20px;


    transition: color .4s ease;

}
.socials a:hover i{
    color: aqua;
}
.footer-bottom{
    background: #212A3E;
    width: 100vw;
    padding: 20px;
    padding-bottom: 40px;
    text-align: center;
}
.footer-bottom p{
    float: left;
    font-size: 14px;
    word-spacing: 2px;
    color: #fcfcfc;
    text-transform: capitalize;
}
.footer-bottom p a{
    color:#44bae8;
    font-size: 16px;
    text-decoration: none;
}
.footer-bottom span{
    text-transform: uppercase;
    opacity: .4;
    font-weight: 200;
}
.footer-menu{
    float: right;
    cursor: pointer;
}
.footer-menu ul{
    display: flex;
}
.footer-menu ul li{
    padding-right: 10px;
    display: block;
}
.footer-menu ul li a{
    color: #cfd2d6;
    text-decoration: none;
}
.footer-menu ul li a:hover{
    color: #27bcda;
}

@media (max-width:500px) {
    .footer-menu ul{
        display: flex;
        margin-top: 10px;
        margin-bottom: 20px;
    }
}

/*login.css*/

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

/**{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
}*/

.bodylogin{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background: rgb(33,42,62);
    background: linear-gradient(135deg, rgba(33,42,62,1) 0%, rgba(57,72,103,1) 18%, rgba(241,246,249,1) 100%);
    font-family: 'Karma', sans-serif;
}

.login-form {
    background: #fff;
    width: 500px;
    margin: 65px auto;
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    border-radius: 4px;
    box-shadow: 0 2px 25px rgba(0, 0, 0, 0.2);
}
.login-form h1 {
    padding: 35px 35px 0 35px;
    font-weight: 300;
}
.login-form .content {
    padding: 35px;
    text-align: center;
}
.login-form .input-field {
    padding: 12px 5px;
}
.login-form .input-field input {
    font-size: 16px;
    display: block;
    font-family: 'Rubik', sans-serif;
    width: 100%;
    padding: 10px 1px;
    border: 0;
    border-bottom: 1px solid #747474;
    outline: none;
    -webkit-transition: all .2s;
    transition: all .2s;
}
.login-form .input-field input::-webkit-input-placeholder {
    text-transform: uppercase;
}
.login-form .input-field input::-moz-placeholder {
    text-transform: uppercase;
}
.login-form .input-field input:-ms-input-placeholder {
    text-transform: uppercase;
}
.login-form .input-field input::-ms-input-placeholder {
    text-transform: uppercase;
}
.login-form .input-field input::placeholder {
    text-transform: uppercase;
}
.login-form .input-field input:focus {
    border-color: #222;
}
.login-form a.link {
    text-decoration: none;
    color: #747474;
    letter-spacing: 0.2px;
    text-transform: uppercase;
    display: inline-block;
    margin-top: 20px;
}
.login-form .action {
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    flex-direction: row;
}
.login-form .action button {
    width: 100%;
    border: none;
    padding: 18px;
    font-family: 'Rubik', sans-serif;
    cursor: pointer;
    text-transform: uppercase;
    background: #e8e9ec;
    color: #777;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 0;
    letter-spacing: 0.2px;
    outline: 0;
    -webkit-transition: all .3s;
    transition: all .3s;
}
.login-form .action button:hover {
    background: #d8d8d8;
}
.login-form .action button:nth-child(2) {
    background: #2d3b55;
    color: #fff;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 4px;
}
.login-form .action button:nth-child(2):hover {
    background: #3c4d6d;
}
/*offerte_azienda.css*/

.container_offerte_azienda {
    display: grid;
    grid-template-columns: 1fr 2fr; /* crea una griglia con due colonne */
    justify-content: center;
    align-items: center;
}

.image-azienda {
    display: flex;
    justify-content: center;
    align-items: center;
}


.image-azienda img {
    max-width: 100%;
    height: auto;
}

.rounded-corners{

    border-radius: 10px; /* Imposta il valore appropriato per arrotondare completamente l'immagine */

}


.border-top-grey{
    border-top: 2px solid #ccc;
}
.row-offerte {
    display: flex;
    flex-wrap: wrap;
    padding: 0px 4px;
}

/*lista_coupon*/

.couponlist h1{
    margin: 0 0 1.5em 2em;
    text-align: left;
}

.coupon {
    display: flex;
    align-items: center;
    justify-content: space-between; /*elementi distribuiti uniformemente lungo l'asse orizzonatale'*/
    margin-bottom: 20px;
    padding: 10px;
    width: 80%;
    max-width: 900px;
    transition: .4s ease;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.coupon:hover{
    opacity: 0.8;
    background-color: #d0ddf7;
    transition: .4s ease;
}

.coupon-no-hover:hover{
    opacity: 1;
    background-color: #FFF;
    transition: 0s;
}

.coupon img {
    width: 10em;
    height: 10em;
    margin-right: 1em;
    flex-basis: 6em;    /*dimensione standart*/
    vertical-align: middle;
    object-fit: contain;    /*adatta l'immagine al contenitore senza deformarla'*/
}

.coupon h3 {
    margin: 0.5em;
    font-size: 1.5em;
    font-weight: normal;
    flex-basis: 50%;
    display: flex;
    flex-direction: column; /*costringe ad andare a capo*/
}

.coupon h3 span {
    font-weight: bold;
}

.coupon ul {
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: 1.2em;
    flex-basis: 40%;
}

.coupon ul li {
    margin-bottom: 0.5em;
}

.coupon ul li strong {
    display: inline-block;
    width: 10em;
    font-weight: bold;
}

/* Create four equal columns that sits next to each other */
.column-offerte {
    flex: 25%;
    max-width: 25%;
    padding: 0 4px;
}
.column-offerte img {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
}
.single-offerta {
    border: 6px solid transparent;
    cursor: pointer;
}
.single-offerta:hover{
    opacity: 0.8;
    background-color: #d0ddf7;
}
.container-azienda {
    position: relative;
    text-align: center;
}
.title-azienda{
    text-decoration: underline;
}
.centerimagesoffers{
    width:200px;
    height:200px;
    display: flex;
    justify-content: center;
    align-items: center;
}/*$*/

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
    .column-offerte {
        flex: 50%;
        max-width: 50%;
    }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
    .column-offerte {
        flex: 100%;
        max-width: 100%;
    }
}

/*register.css*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

.body_register{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background: rgb(33,42,62);
    background: linear-gradient(135deg, rgba(33,42,62,1) 0%, rgba(57,72,103,1) 18%, rgba(241,246,249,1) 100%);
}

.body_modProfile{
    height: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background-color: white;
    margin-top: 50px;
}

.container-register{
    max-width: 700px;
    width: 100%;
    background-color: #fff;
    padding: 25px 30px;
    border-radius: 5px;
    box-shadow: 0 5px 10px rgba(0,0,0,0.15);
}
.container-register .title{
    font-size: 25px;
    font-weight: 500;
    position: relative;
}
.container-register.title::before{
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 3px;
    width: 30px;
    border-radius: 5px;
    background: rgb(33,42,62);
    background: linear-gradient(135deg, rgba(33,42,62,1) 0%, rgba(57,72,103,1) 18%, rgba(241,246,249,1) 100%);
}
.content form .user-details{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 20px 0 12px 0;
}
form .user-details .input-box{
    margin-bottom: 15px;
    width: calc(100% / 2 - 20px);
}
form .input-box span.details{
    display: block;
    font-weight: 500;
    margin-bottom: 5px;
}
.user-details .input-box input{
    height: 45px;
    width: 100%;
    outline: none;
    font-size: 16px;
    border-radius: 5px;
    padding-left: 15px;
    border: 1px solid #ccc;
    border-bottom-width: 2px;
    transition: all 0.3s ease;
}
.user-details .input-box input:focus,
.user-details .input-box input:valid{
    border-color: #394867;
}
form .gender-details .gender-title{
    font-size: 20px;
    font-weight: 500;
}
form .category{
    display: flex;
    width: 80%;
    margin: 14px 0 ;
    justify-content: space-between;
}
form .category label{
    display: flex;
    align-items: center;
    cursor: pointer;
}
form .category label .dot{
    height: 18px;
    width: 18px;
    border-radius: 50%;
    margin-right: 10px;
    background: #d9d9d9;
    border: 5px solid transparent;
    transition: all 0.3s ease;
}
#dot-1:checked ~ .category label .one,
#dot-2:checked ~ .category label .two,
#dot-3:checked ~ .category label .three{
    background: #394867;
    border-color: #d9d9d9;
}

form .button{
    height: 45px;
    margin: 35px 0;
}

.bar-item form .button{
    height: 45px;
    margin: 0;
}
form .button input{
    height: 100%;
    width: 100%;
    border-style: solid;
    border-color: red;
    border-radius: 5px;
    border: none;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 1px;
    cursor: pointer;
    transition: all 0.3s ease;
    background-color: #394867;
}
form .button input:hover{
    transform: scale(0.98);
    background-color: #4f5f80
}
.user-details {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center; /* Aggiungi questa riga per centrare verticalmente gli elementi */
    margin: 20px 0 12px 0;
}

.user-details .button {
    width: 100%;
    text-align: right; /* Allinea il contenuto a destra */
}
@media(max-width: 584px){
    .container-register{
        max-width: 100%;
    }
    form .user-details .input-box {
        margin-bottom: 15px;
        width: calc(50% - 10px); /* Modifica la larghezza per creare spazio tra gli input */
    }
    form .category{
        width: 100%;
    }
    .content form .user-details{
        max-height: 300px;
        overflow-y: scroll;
    }
    .user-details::-webkit-scrollbar{
        width: 5px;
    }
}
@media(max-width: 459px){
    .container-regiister .content .category{
        flex-direction: column;
    }
}

/*area_personale_utente.css*/

.body_area_personale_utente {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}
.container_area_utente {
    max-width: 800px;
    margin: 0 auto;
    margin-top: 100px;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
    margin-bottom: 60px;
}
.container_area_utente h1 {
    font-size: 32px;
    font-weight: bold;
    text-align: center;
    margin: 0;
    padding: 20px 0;
}

.container_area_utente h2 {
    font-size: 24px;
    margin-top: 10px;
    margin-bottom: 0px;
    border-top: 2px solid #ccc;
    padding: 20px 0;
}

.section_area_utente {
    margin: 5px 0;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 5px;
    column-count: 2;
    column-gap: 40px;
}

.section_area_utente p {
    font-size: 16px;
    margin-top: 0;
    margin-bottom: 0;
}

.parola_click{
    text-decoration: underline;
    cursor: pointer;
}

.parola_click1{
    text-decoration: underline;
    float: right;
}

/*modifica_profilo_utente*/
.container-modify-profile{
    max-width: 1000px;
    margin-top: 100px;
    width: 100%;
    background-color: #fff;
    padding: 25px 30px;
    border-radius: 5px;
    box-shadow: 0 5px 10px rgba(0,0,0,0.15);
}

.container-modify-profile .title{
    font-size: 25px;
    font-weight: 500;
    position: relative;
}
.container-modify-profile.title::before{
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 3px;
    width: 30px;
    border-radius: 5px;
    background: rgb(33,42,62);
    background: linear-gradient(135deg, rgba(33,42,62,1) 0%, rgba(57,72,103,1) 18%, rgba(241,246,249,1) 100%);
}


/*pagination*/

.pagination-button{
    background-color: #394867;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 0px;
    float: right;
}
.pagination-button:hover {
    background-color: #F1F6F9;
    color: #394867;
}


.creazioneOfferta{
    font-family: Arial, sans-serif;

    color: #333;
    margin: 0;
    padding: 0;
}

.productForm h1{
    color: #394867;
    text-align: center;

}

.productForm hr{
    border-width: 3px;
    border-color:#394867;

}

.productForm{
    max-width: 800px;
    margin: 100px auto;
    padding: 30px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 5px 10px rgba(0,0,0,0.15);
    overflow: auto; /* Aggiunge lo scroll se il contenuto è più grande del form */
    margin-bottom: 20px;
}

.creazioneOfferta label{
    display: block;
    margin-top: 10px;
}

.creazioneOfferta input[type="text"],
select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 16px;
    margin-top: 5px;
}

.creazioneOfferta textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 16px;
    margin-top: 5px;
    resize: vertical; /* Consenti il ridimensionamento verticale */
    min-height: 100px; /* Altezza minima per evitare di sforare il bordo */
    overflow-y: auto; /* Aggiungi scroll interno quando necessario */
}

.creazioneOfferta input[type="submit"] {
    background-color: #394867;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 0px;
    float: right; /* Sposta il pulsante a destra */
}

.creazioneOfferta input[type="submit"]:hover {
    background-color: #F1F6F9;
    color: #394867;
}


/*area-personale staff*/

.pulsanti_staff {
    background-color: #394867;
    color: #fff;
    border: none;
    padding: 0px;
    width: 250px;
    height: 50px;
    font-size: 16px;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 0px;
}

.pulsanti_staff:hover {
    background-color: #F1F6F9;
    color: #394867;
}

.pulsanti_staff{
    width: 150px;
    margin-top: 5px;
    margin-bottom: 5px;
    height: 50px;
}

.container_pulsanti_staff {
    display: grid;
    padding: 36px 16px;
    grid-template-columns: 1fr 1fr; /* crea una griglia con due colonne */
    justify-content: center;
    align-items: center;
    margin-left: 15px;
}

.area_admin{
    border:0;
    border-top:2px solid #828282;
    margin:20px 0
}

.text-align-right{
    text-align:right
}
.text-align-left{
    text-align:left
}


.creazioneOfferta input[type="submit"]:hover {
    background-color: #F1F6F9;
    color: #394867;
}

.modificaOfferta {
    font-family: Arial, sans-serif;
    color: #333;
    margin: 0;
    padding: 0;
}

.modOffertaForm h1 {
    color: #394867;
    text-align: center;
}

.modOffertaForm hr {
    border-width: 3px;
    border-color: #394867;
}

.modOffertaForm {
    max-width: 800px;
    margin: 100px auto;
    padding: 30px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
    overflow: auto; /* Aggiunge lo scroll se il contenuto è più grande del form */
    margin-bottom: 20px;
}

.modOffertaForm .button {
    background-color: #394867;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 19px;
    float: right; /* Sposta il pulsante a destra */
    margin-left: 15px;
}

.modOffertaForm .button:hover {
    background-color: #F1F6F9;
    color: #394867;
}

.modificaOfferta label {
    display: block;
    margin-top: 10px;
}

.modificaOfferta input[type="text"],
select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 16px;
    margin-top: 5px;
}

.modificaOfferta textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 16px;
    margin-top: 5px;
    resize: vertical; /* Consenti il ridimensionamento verticale */
    min-height: 100px; /* Altezza minima per evitare di sforare il bordo */
    overflow-y: auto; /* Aggiungi scroll interno quando necessario */
}

.modificaOfferta input[type="file"] {
    margin-top: 5px;
}

.modificaOfferta input[type="submit"] {
    background-color: #394867;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 20px;
    float: right; /* Sposta il pulsante a destra */
}

.modificaOfferta input[type="submit"]:hover {
    background-color: #F1F6F9;
    color: #394867;
}

.image-mod-off {
    text-align: center;
}

.image-mod-off img {
    width: 80%;
    height: auto;
    border: 2px solid #9BA4B5;
    padding: 10px;
}

.image-mod-off label {
    display: block;
    margin-top: 10px;
    text-align: left;
}

.image-mod-off input[type="file"] {
    margin-top: 5px;
}

.refAggiungi{
    font-size: 20px;
}